.container-2sjPya {
  align-items: center;
}

.messageAttachment-CZp8Iv {
  display: flex;
  justify-content: center;
}

.imageWrapper-oMkQl4 {
  align-items: center;
}

.twoByOneGridItem-szxGiL {
  align-items: center;
}

.oneByTwoSoloItem-MZsImq {
  align-items: center;
}
