.container-2sjPya {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.messageAttachment-CZp8Iv {
  display: flex;
  justify-content: center;
}

.imageWrapper-oMkQl4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.originalLink-Azwuo9 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer-10XenG {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 100%;
}

.processed-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.imageDetails-1t6Zms {
  display: none;
}
