.container-2sjPya {
  align-items: center;
}

.messageAttachment-CZp8Iv {
  display: flex;
  justify-content: center;
}

.imageWrapper-oMkQl4 {
  align-items: center;
}

.originalLink-Azwuo9 {
  align-items: center;
}

.imageContainer-10XenG {
  align-items: center;
}
